/*
 *  Node wurf-week component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node-wurf-week {
  div.col-sm-12 {
    width: 100%;

    .field-name-title {
      h2 {
        font-family: @pxl-title-font;
        #pxl-mixins.font-size-responsive(16px, 24px);
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: @text-color;
      }
    }

    .field-name-body {
      #pxl-mixins.wysiwyg-body;
    }

    .field-name-field-images {
      margin: 20px 0;
      #pxl-mixins.bs-slider();
    }

  }
}

